@import 'bootstrap/scss/functions';
@import './variables';

@import 'bootstrap/scss/bootstrap';

:root {
  --raCities: #{$indigo-300};
  --raEcosystems: #{$red-300};
  --raEnergy: #{$green-300};
  --raForests: #{$cyan-300};
  --raHealth: #{$yellow-300};
  --raInfrastructure: #{$pink-300};
  --raLivelihoods: #{$blue-300};
  --raTransport: #{$orange-300};
}

body {
  margin: 0;
  background: #fefefe;
}

.client-data-grid {
  .MuiTablePagination-root p {
    margin-bottom: 0;
  }
}

.dl--horizontal {
  div {
    display: flex;
  }

  dt,
  dd {
    display: inline-block;
  }

  dt {
    font-weight: $font-weight-bold;
    margin-right: $spacer;
    flex: 1;
  }

  dd {
    flex: 2;
  }
}

.icon-container {
  border: 1px solid currentColor;
  display: inline-flex;
  width: 1.7em;
  height: 1.7em;
  justify-content: center;
  align-items: center;
}

.icon {
  stroke: currentColor;
  fill: currentColor;
  font-size: 1.5em;
}
